[mysqld]

# server configuration
datadir=/u01/data/mysql/&&

port=2480&&
socket=/u01/data/mysql/1/s&&.sock
## REPLICATION
server_id=&&
gtid_mode=ON
enforce_gtid_consistency=ON
master_info_repository=TABLE
relay_log_info_repository=TABLE
binlog_checksum=NONE
log_slave_updates=ON
log_bin=binlog
binlog_format=ROW
